
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.body{
    font-size: 17px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Lato";
	color : #555;    
	
}



.navbar-brand{
    border: 5px solid black;
    font-size: 17px ;
    font-weight: bolder;
}
.navbar{
    background-color: #eff0f2;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 23px;
}
#headerwrap{
    padding-top: 220px;
    text-align: center;
    background-color: #eff0f2;
    padding-bottom: 400px;
}
#aboutUs{
    text-align: center;

}
.aboutUs{
    background-color: #f8fafa;
}
.slogan__first{
  color: #505050;
}
.slogan__first span{
    background-color: #a1dad7;
}
.slogan__pa{
margin-top: 45px;
margin-bottom: 30px;
display: flex;
margin-left: 10px;
}
.aboutUs__sl {
    color: #323333;
    font-weight: bold;
    font-size: 38px;
    padding-top: 145px;
}
.slogan_paragraph {
    font-size: 18px;
    color:#848585;
}
.imgAsv{
    padding-top: 145px;
   
}
.imgAsv h3{
   color: #646565;
   text-transform: uppercase;
}
.aboutUs {
    padding-bottom: 200px;
}
.featured__image{
    margin-top: 150px;
}
.featured{
    padding-bottom: 200px;
}
.box16{
    margin-top: 50px;
}

.social{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Team{
    padding-bottom: 140px;
}


.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#646565;margin-right:10px;transition:all .3s ease 0s}

.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}


.footer-address
{
	width: 42%;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
	background-color: #021623;
	opacity: 0.71;
	text-align: left;
	display: inline-block;
	padding: 3.17%;

}
.footer-address__text
{
	opacity: 0.7;
	color: #ffffff;
	font:400 0.937rem/1.6 Raleway, sans-serif;
	margin-bottom:4.56%;
}
.footer-address-map
{
	width: 100%;
}

.footer-address-map iframe
{
	width: 100%;
	height:17.9rem; 
}
.footer-down
{
	background-color: #262b2e;
	text-align: center;
}
.footer-down__link
{
	width: 46px;
	height: 40px;
	background-color: #8a8a8a;
	opacity: 0.4;
	display: inline-flex;
}
.footer-down__link i
{
	color: #faf4f4;
	margin: auto;
}

.footer-down__link:hover
{
	background-color: #71f6eb;
	opacity: 1;
}
.footer-down__title
{
	opacity: 0.8;
	color: #ffffff;
	font:400 1rem/1.562 Raleway, sans-serif;
	text-transform: uppercase;
	margin: 8.15% 0 1.75%;
	display: inline-block;
}
.footer-down__text
{
	opacity: 0.4;
	color: #ffffff;
	font:500 1rem/1.562 Raleway, sans-serif;
	margin: 3.77% 0 7.89%;
	display: inline-block;
}	
.footer
{
	width: 100%;
	height: auto;
	background: url(../image/christmas_snow_trees-wide@1X.png)  no-repeat;
	background-size: cover;
}
.footer-form-block
{
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin-bottom: 3.5px;
}
.footer-form-block__input
{
	border: none;
    background-color: rgba(0, 0, 0, 0);
	color: #ffffff;
	font:400 0.937rem Raleway, sans-serif;
	width: 88%;
	resize: none;
}
    
.footer-form
{
	width: 57.2%;
	max-width: 614px;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
	background-color: #021623;
	opacity: 0.71;
	text-align: left;
	padding: 7% 3% 0 ;
	margin-bottom: 10.78%;
	display: inline-block;
}
.footer-form-block__name
{
	opacity: 0.6;
	color: #ffffff;
	font:400 0.937rem/3.4 Raleway, sans-serif;
}

.footer-form-block__button
{
    border-radius: 2px;
	background-color: #6eeee4;
	color: #000000;
	font:400 1.125rem/1.555 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 5.4%;
}
.main-spoler__img{
    padding-bottom: 140px;
}
.header-nav-logo-text__word
{
    font-weight: 900;
	color: #77efe5;
    font-size: 35px;
}
.main-slider-down-block-wrap
{
	max-width: 667px;
	width: 55%;
	height: 362px;
	border-radius: 3px;
	background-color: #eaebed;
	margin-top: 3.5%;
	padding-top: 11.16%;
}
.main-galery-column-block-comment__title
{
	font:700 1.25rem/1.2 Merriweather, serif;
	color: #272727;
}
.main-slider-down-block-wrap{
text-align: center;
opacity: 0.7;
}
.they__say{
    padding-top: 140px;
    padding-bottom: 200px;
   
}
.says{
    background-color: #f9fbfb;
}
.main-spoler__img {
    margin-top: 150px;
}